<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.mapper.T_MALL_CLASS_1Mapper" >
  <resultMap id="BaseResultMap" type="com.cc.entities.T_MALL_CLASS_1" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="flmch1" property="flmch1" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_mall_class_1
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cc.entities.T_MALL_CLASS_1" >
    insert into t_mall_class_1 (Id, flmch1)
    values (#{id,jdbcType=INTEGER}, #{flmch1,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cc.entities.T_MALL_CLASS_1" >
    update t_mall_class_1
    set flmch1 = #{flmch1,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select Id, flmch1
    from t_mall_class_1
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Id, flmch1
    from t_mall_class_1
  </select>
</mapper>