<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis.properties"></properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="username" value="${JDBC.USER}"/>
                <property name="password" value="${JDBC.PWD}"/>
                <property name="url" value="${JDBC.URL}"/>
                <property name="driver" value="${JDBC.DRIVER}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/cc/mapper/T_MALL_CLASS_1Mapper.xml"/>
    </mappers>
</configuration>